node_modules
yarn.lock
package-lock.json
public
.vscode/settings.json
tsconfig.json
build
cypress
coverage
dist
.nyc_output
package.json
README.md
LICENSE
tailwind.config.js
postcss.config.js
.eslintrc.cjs
tsconfig.app.json
tsconfig.node.json
vite.config.ts
.gitignore
.prettierrc
src/vite-env.d.ts